a {
  text-decoration: none !important;
  color: inherit !important;
}

.home {
  display: flex;
}

.productContainer {
  display: flex;
  width: 75%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 85vh;
}

.filters span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

.products {
  width: 30%;
  margin: 10px;
}